* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  touch-action: none;
}

#FPS-slider {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  width: 60%;
  height: 40%;
}

#FPS-slider::-webkit-slider-runnable-track {
  background: grey;
  height: 100%;
  border-radius: 0;
}

#FPS-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black;
  border: 0.5px solid black;
  width: 2%;
  height: 150%;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  top: calc((100% - 150%) / 2);
}