* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  background-color: #f2f2f2;
}

#root {
  height: 100%;
}

#screen-container {
  height: 100%
}

#navigation-bar-container {
  display: flex;
  flex-direction: row;
  height: 5%;
  border: 2px solid black;
  justify-content: end;
}

.navbar-option {
  border: none;
  font-size: 2vh;
  padding-right: 1vh;
  padding-left: 1vh;
}

#generator-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 95%;
  background-color: purple;
}

#canvas-and-modifiers-container {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  border: 2px solid black;
}

#main-video-canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-top: .5vh;
  margin-bottom: .5vh;
  
}

#main-video-canvas {
  border: 2px solid black;
}

#modifiers-container {
  display: flex;
  flex-direction: column;
  height: 30%
}

#slider-and-frame-button-container {
  padding: 15px;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

#slider-container {
  width: 66%;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 90%;
}


input[type="range"]:focus {
 outline: none;
}


input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 1vh;  
}


input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
  appearance: none;
  margin-top: calc((1vh / 2) - (3vh / 2)); 

  background-color: #5cd5eb;
  height: 3vh;
  width: 1vw;
}

input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid #053a5f;
 outline: 3px solid #053a5f;
 outline-offset: 0.125rem; 
}

#keyframe-button-container {
  width: 33.333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modifier-buttons-container {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  height: 50%;
  
}

.modifier-button-container{
  height:100%;
  width: 33%;
}

#fps-container {
  display: flex;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#fps-notes{
  display: flex;
  flex-direction: column;
  margin-right: .5vw;
  width: 70%;
}

#fps-button-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.fps-button-label{
  font-size: 1.5vi;
}

.fps-button{
  width: 1vh;
  height: 1vw;
}

#order-frame-container {
  margin-left: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  height:100%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#submit-button-container {
  height: 20%;
}

#frames-and-upload-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  
}

#file-upload-container {
  height: 3.5%;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 2px solid black;
}

#video-upload-input {
  height: 1.9vh;
  width: 15vw;
  font-size: 1.1vh;
}

#frames-container {
  display: flex;
  height: 92.5%;
  flex-direction: column;
  overflow-y: auto;
  flex-shrink: 0;
}

.frame {
  height: 15vh;
  width: 100%;
  background-color: red;
  border: 2px solid black;
  flex-shrink: 0; /* Prevent shrinking */
  
 
}

#reset-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  border-top: 2px solid black;
  height: 4%;
}

#home-container {
  height: 95%;
  background-color: red;
}

#community-container {
  height: 95%;
  background-color: blue;
}



