* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  background-color: #f2f2f2;
}

#root {
  height: 100%;
}

#topHeader {
  height: 5%;
  background-color: yellow;
  width: 100%;
  border: 2px solid black;
}

#canvas-and-frames {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 95%;
}

#canvas-section-and-modifiers {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  border: 5px solid black;
}

#canvas-section {
  display: flex;
  justify-content: center;
  height: 70%
  
}

#modifiers-container {
  display: flex;
  flex-direction: column;
  height: 30%
}

#slider-and-frame-button-container {
  padding: 15px;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

#slider-container {
  width: 66%;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider {
  appearance: none;
  width: 1000px;
  height: 100px;
  background: #FF5C35;
  outline: none;
  border-radius: 12px;
  margin: 0 auto;
}

#slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}

#frame-button-container {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyframe-button {
  height: 50%;
  width: 50%;
  font-size: .75vw;
}

#modifier-buttons-container {
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid black;
  height: 50%;
}

#fps-buttons {
  font-size: 1.5vh; /* Increase font size */
  border: none;    /* Remove border */
  padding: 10px;   /* Optional: add some padding */
}

#fps-buttons legend {
  font-size: 1.5vh; /* Increase size of the legend text */
}

#order-frame-container {
  margin-left: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  height:100%;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

#order-frame-label {
  font-size: 1.5vh;
  display: flex;
  align-items: center; 
}

#order-frame-input {
    width: 1.5vh; /* Adjust width */
    height: 1.5vh; /* Adjust height */
    margin-left: 8px;
}

#submit-button-container {
  height: 20%;
}

#frames-and-upload-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border: 5px solid black;
}

#file-upload-container {
  height: 3.5%;
  display: flex;
  justify-content: end;
  border-bottom: 5px solid black;
}

#file-upload {
  font-size: 1.5vh;
  padding: 10px;
  width: 100%;
}

#frames-container {
  display: flex;
  height: 92.5%;
  flex-direction: column;
  overflow-y: auto;
}

#frame {
  display: flex;
  flex-direction: row;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  align-items: center;
}

#frame-button {
  margin-left: 1vh;
  margin-right:1vh;
  height: 2.2vh;
  width: 2.2vh;
  background-image: url('/delete-button.png'); /* Corrected syntax */
  background-size: contain; /* Adjust to fit the button */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image in the button */
  border: none; /* Remove default border if needed */
  cursor: pointer; /* Changes cursor to pointer when hovering */
}

#frame-button-time {
  font-size: 1.2vh;
}

#reset-button-div {
  display: flex;
  justify-content: end;
  align-items: center;
  border-top: 5px solid black;
  height: 4%;
}

#reset-frame-button {
  margin-right: 3vh;
  height: 3vh;
  width: 7vh;
  font-size: 1.5vh;
}



